*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #666;
}

input{
    outline: none;
}

#btn{
    margin: 18px;
    margin-bottom: 0;
    padding: 8px;
    border-radius: 15px;
    border: solid 2px #000;
    box-shadow: 0 4px #666;
    cursor: pointer;
}

#btn:active{
    background-color: #aaaaaa;
    box-shadow: none;
    transform: translateY(4px);
}

#btn:hover{
    background-color: #666;
    transition: 0.2s;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px; 
    padding: 25px; 
    background-color: rgba(0,0,0,0.7);
    border-radius: 10px;
    width: 16%;
    color: white;
}

.tabela{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}

#tablebody>tr>td{
    padding: 10px;
    border: solid 1px black;
}