@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: #9c22dd3d;
}

.nav{
    width: 100vw;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    background-color: #9c22dd;
    color: #fff;  
}

ul{
    list-style: none;
    display: inline;
}

li{
    float: left;
    margin-left: 10px;
    cursor: pointer;
}

.list{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.item{
    width: 40vw;
    height: 20vh;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    margin-top: 10px;
    background-color: #fff;
    transition: .2s
}

.item:hover{
    transform: scale(1.25);
}

.model{
    display: none;
    visibility: hidden;
}

#title{
    margin-bottom: 20px;
}

span{
    display:flex;
    justify-content: right;
    margin: 10px;
}

.trash{
    width: 30px;
}